:root{
   --blue-color: rgb(0, 121, 255);
   --golder-gray:rgb(105, 124, 154);
   --light-gray: rgb(75, 106, 155);
   --black-color: rgb(43, 52, 66);
   --light-color: rgb(246, 248, 255);
   --white: rgb(254, 254, 254);
}